@charset "utf-8";

.container {
    display: grid;
    grid-template-columns: 150px 150px 200px;
    grid-template-rows: 10px 50px;
}

.item {
    grid-area: 1 / 1 / 3 / 4;
}

.flexcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.flex-item {
    background-color: #808df0;
    padding: 10px;
    margin: 5px;
}

body {
    background-color: #87ceeb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section {
    background-color: #ff0000;
}

#box1 {
    background-color: #ff0000;
}

#box2 {
    background-color: #ffff00;
}

#box3 {
    background-color: #008000;
}

.special {
    width: 500px;
    font-style: oblique;
    margin-right: 10px;
}

#bb1 {
    font-size: 50px;
    background-image: url(https://profound-salamander-8b0fb0.netlify.app/coding nmr (kopia).jpg);
    color: #8a2be2;
}

#bb2 {
    font-size: 65px;
    background-image: url(https://profound-salamander-8b0fb0.netlify.app/sunrise_yellow.jpg);
}

.bf2 {
    background-color: #daaa68;
}

.bf3 {
    background-color: #68daa3;
}
