@charset "utf-8";
.container{display: grid;
    grid-template-columns: 150px 150px 200px;
    grid-template-rows: 10px 50px;

} 

.item { grid-area: 1/4/10;

} 
.flexconteiner{display: flex;
    flex-direction: column; 
  align-items: center;
  justify-content: space-around;
} 

.flex-item {
  background-color: rgb(128, 141, 240);
  padding: 10px;
  margin: 5px;
}

body {background-color: skyblue;}
html
{font-size: 16px;}
body 
{background-color: skyblue;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}

h1
{font-size:xx-large}



h1
{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
section

{background-color: red;}


#box1{background-color: red}
#box2{background-color: yellow;}
#box3{background-color: green;}
.speciel{
        width: 500px; ;
        font-style:oblique;
        margin-right: 10;}


#bb1 
{font-size: 50px;
    background-image: url(img/coding\ nmr.jpg);
    color: blueviolet;
    }
#bb2
    {font-size: 65px;
        background-image: url(img/sunrise\ yellow.jpg);
        
        }


.bf2 
{background-color: rgb(218, 170, 104);}

.bf3 
{background-color: rgb(104, 218, 163);}





