@charset "utf-8";

body {
    background-color: #87ceeb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;body {
    background-color: #87ceeb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    display: grid;
    grid-template-columns: auto 2fr auto 1fr;
    grid-template-rows: min-content 100px auto 70px;
    grid-template-areas:
        "nav          nav"
        "header       header"
        "main         aside"
        "footer       footer";
}

nav {
    grid-area: nav;
    background-color: #68daa3;
}

header {
    grid-area: header;
    background-color: #aeff00;
    padding: 10px;
}

main {
    grid-area: main;
    background-color: #ffff00;
    padding: 10px;
}

aside {
    grid-area: aside;
    background-color: #accf5f;
}

footer {
    grid-area: footer;
    background-color: #7c5d1f;
}

h1 {
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section {
    background-color: #ff0000;
}

#box1 {
    background-color: #ff0000;
}

#box2 {
    background-color: #ffff00;
}

#box3 {
    background-color: #008000;
}

.special {
    width: 500px;
    font-style: oblique;
    margin-right: 10px;
}

#bb1 {
    font-size: 50px;
    background-image:url(https://beautiful-dasik-b4aa52.netlify.app/coding.jpg);
    color: #8a2be2;
}

#bb2 {
    font-size: 65px;
    background-image:url(https://beautiful-dasik-b4aa52.netlify.app/sunrise.jpg);
}

.bf2 {
    background-color: #daaa68;
}

.bf3 {
    background-color: #68daa3;
}
